<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air quality station</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/leaflet")
    @Scripts.Render("~/bundles/moment")
    <link rel="shortcut icon"  href="@Url.Content("~/Content/favicon.ico")">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                @Html.ActionLink("Air quality station", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About","About","Home")</li>
                 </ul>
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                This is a demo version. Data presented in this application is for test purpose only. @Html.ActionLink("Learn more", "About","Home")
            </div>
        </div>    
    <div>
            @RenderBody()
    </div>
    <div id="tooltip" class="hidden">
        <p>Reading date: <span id="date">100</span></p>
        <p>NO2 level: <span id="value">100</span></p>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
